<div class="container" div *ngIf="user$ | async as user">

<div class="title">
    <h1> Mon profil</h1>
</div>

<div class="infos-user">

<div class="info">
    <p> Mon pseudo : <span>{{user.username}}</span></p>
</div>

<div class="info">
    <p> Mon e-mail : <span>{{user.email}}</span></p>
</div>

<div class="info">
    <p> Mon mot de passe : <span> ********* </span></p>
</div>

<div class="info">
    <p> Date de création du compte : <span>{{setTimeToMoment(user?.dateAccount)}}</span></p>
</div>
</div>

<button class="btn btn-danger" (click)="openModal(template)">Supprimer mon compte</button>

<ng-template #template>
    <div class="modal-body text-center">
        <p>Voulez-vous vraiment supprimer le user ?</p>
        <button type="button" class="btn btn-success" (click)="deleteAccount(user.id)">Supprimer</button>
        <button type="button" class="btn btn-danger" (click)="decline()">Annuler</button>
    </div>
</ng-template>



</div>
