h1{
    font-size: 1.5em;
    text-align: center;
    padding: 15px;
    border: solid;
}


.container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(241, 184, 255, 1);   
}

.active{
  background-color: #A144E0!important;
}

$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #A144E0;

$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: white;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;


a {
    text-decoration:none;
    color:$main;
    transition:.5s ease;
    &:hover {
      color:$main-dark;
    }
  }
  .tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }

  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    color: black;
    &:hover {
      background:$main-dark;
      color:white;
    }
  }
  
}


