.container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(241, 184, 255, 1);  
    padding: 10px; 
}

.active{
  background-color: #A144E0!important;
}

$main: #A144E0;
$main-dark: darken($main,5%);

$gray-light: white;
$gray: #ddd;

a {
    text-decoration:none;
    color:$main;
    transition:.5s ease;
    &:hover {
      color:$main-dark;
    }
  }
  .tab-group {
    list-style:none;
    padding:0;
    margin:0 0 40px 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }

  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:50%;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    color: black;
    &:hover {
      background:$main-dark;
      color:white;
    }
  } 
}

button{
  background-color: white;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(#FE58ED, #5890FE);
  width: 250px;
  align-self: center;
}

.btn-info{
  margin-top: 10px;
}

.add-admin{
  margin: 5px;
  color: rgba(88, 144, 254, 1);
  font-weight: 600;
}

.btn {
  align-self: center;
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 12px 27px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #999999;
  background: #ffffff;
  border: 3px solid #999999;
  cursor: pointer;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}

.btn.btn-border-1::after,
.btn.btn-border-1::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  visibility: hidden;
}

.btn.btn-border-1::after {
  bottom: -1px;
  right: -1px;
  border-left: 5px solid #A144E0;
  border-bottom: 5px solid #A144E0;
  transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
}

.btn.btn-border-1::before {
  top: -1px;
  left: -1px;
  border-top: 5px solid #A144E0;
  border-right: 5px solid #A144E0;
  transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
}

.btn.btn-border-1:hover {
  animation: pulse 1s ease-out .4s;
  color: #A144E0;
}

.btn.btn-border-1:hover::after,
.btn.btn-border-1:hover::before {
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  visibility: visible;
  transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::after {
  transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::before {
  transition: width .1s ease, height .1s ease .1s;
}


.seven h1 {
  text-align: center;
      font-size:25px; font-weight:300; color:#222; letter-spacing:1px;
      text-transform: uppercase;
  
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 27px 0;
      grid-gap: 20px;
      align-items: center;
  }
  
  .seven h1:after,.seven h1:before {
      content: " ";
      display: block;
      border-bottom: 1px solid #e30999;
      border-top: 1px solid #e30999;
      height: 5px;
    background-color:#f8f8f8;
  }