<div class="container">


    <ul class="tab-group">
        <li class="tab" routerLinkActive="active"><a (click)="isTrue()">LISTE DES ARTICLES</a></li>
        <li class="tab" routerLinkActive="active"><a (click)="isFalse()">LISTE DE MES ARTICLES</a></li>

        <button routerLink='/admin/handle-post/add-post' routerLinkActive="router-link-active" type="button"
            class="btn btn-border-1">
            Ajouter un post
        </button>


        <div *ngIf="condition;else elseBlock">
            <app-my-articles></app-my-articles>
        </div>
        <ng-template #elseBlock>
            <app-editor-article></app-editor-article>
        </ng-template>
    </ul>

</div>