
.container{
    width: 80%;
    height: auto;
    background-color: white;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
   padding-left: 0px;
   padding-right: 0px;
   padding-bottom: 10px;

}

h1{
    font-size: 1.2rem;
   color: black;
   text-align: center;
   padding-top: 25px;
   width: 100%;
   margin-top: 10px;
   background-color: #f1b8ff;
   padding: 20px;
   font-weight: 600;
   font-size: 1.5rem;

}

button{
    background: white;
    text-decoration: inherit;
}


.read-article{
  //  border: 10px solid;
  //  padding: 5px;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: linear-gradient(#FE58ED, #5890FE);
    color: #5890fe;
    font-weight: 600;
    height: 30%;
}

.read-article-text{
    margin: 5px;
    color: rgba(88, 144, 254, 1);
    font-weight: 600;

}

//******** MEDIA QUERIES min 740px ******* 
@media (min-width: 740px){
    .container{
        width: 95%;
        background-color: white;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .read-article-text{
        font-size: 0.8rem;
    }


}

//******** MEDIA QUERIES min 960px ******* 
@media (min-width: 1000px){

    h1{
        font-size: 1.5rem;
    }
  .container{
      width: 80%;
  } 

.read-article-text{
    font-size: 1rem;
}
}





/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}


h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #f1b8ff 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 50%;
}

.card_image{
  height: 50%;
}

.card_title {
  color: black;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  //text-transform: capitalize;
  margin: 0px;
  height: 60%;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  height: 10%;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

@media (min-width: 765px) {
  .cards_item {
    width: 33.3333%;
  }

  .card_content{
    height: -webkit-fill-available;
  }

  .card_image{
    height: 25%;
  }

  .read-article{
    height: 20%;
  }
}

@media (min-width: 992px) {
  .card_content{
    height: -webkit-fill-available;
  }
  .card_image{
    height: 30%;
  }
}

@media (min-width: 1150px) {
  .card_content{
    height: -webkit-fill-available;
  }
  .card_image{
    height: 35%;
  }
}

@media (min-width: 1300px) {
  .card_content{
    height: -webkit-fill-available;
  }
  .card_image{
    height: 40%;
  }
}