<div class="container">

    <!-- <div class=title-last-articles>
        <h1>Nos derniers articles </h1>
    </div> -->

    <h1>Nos derniers articles</h1>


    <div *ngIf="posts$ | async as posts">
        <div class="no-article" *ngIf="posts.length == 0; else block">

            <p>Vous n'avez publié aucun article sur le blog !</p>
        </div>

        <ng-template #block>

            <div class="main">
                <ul class="cards" >
                  <li class="cards_item" *ngFor='let post of posts.slice(posts.length-3, posts.length)'>
                    <div class="card" >
                      <div class="card_image"><img src="https://picsum.photos/500/300/?image=10"></div>
                      <div class="card_content">
                        <h2 class="card_title" routerLink="/post/{{post.id}}">{{post.title}}</h2>
                        <p class="card_text">Catégories  </p>
                        <button class="btn card_btn" routerLink="/post/{{post.id}}">Lire l'article</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>



    <!-- <div  class="list-articles"> 
         <div *ngFor='let post of posts.slice(posts.length-3, posts.length)' class="container_list">
            <div class="picture"></div>
            <div class="content">
                <div class="title">{{post.title}}</div>
                <button class="read-article" routerLink="/post/{{post.id}}">
                    <p class="read-article-text"> Lire l'article</p>
                </button>
            </div>
        </div>

</div> -->
</ng-template>

</div>




  
