img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

button{
  background-color: white;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 3px;
  border-image-source: linear-gradient(#FE58ED, #5890FE);
  text-align-last: center;
  padding: 5px;
  font-size: 18px;
}

.buttons{
    display: flex;
}

.buttons-categories{
  display: flex;
  padding: 10px;
  justify-content: center;
  button{
    width: 25%;
  }
}

.read-article{
    margin: 5px;
    color: rgba(88, 144, 254, 1);
    font-weight: 600;
}

.container-full{
  margin: 10px;
  padding: 10px;
}

.container {
  //max-width: 1335px;
  margin: 0 auto;
  //max-width: 100%;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-center;
}

.grid-item {
  //height: 600px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.grid-item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  background: #ececec;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  position: relative;
}


.grid-item-content {
  padding: 0 20px 20px 20px;
}

.item-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700; 
   margin-top: 8px;

  margin-bottom: 12px;
  display: block;
}

.item-category {
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.item-excerpt {
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
}

.image{
  width: 100%;
  min-height: 200px;
  
}

@media(min-width: 700px) {
  .grid-item-container {
    display: flex;
  }

  .container{
    width: 100%;
  }

.image{
  width: 40%;
  min-width: 200px;
}

.grid-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
}
}