<div class="we-are-block">
    <div id="about-us-section">

        <!-- ******** ABOUT-US PART ******** -->
        <div class="about-us-image">
            <img src="/assets/images/about-asso-liberty.jpeg" width="808" height="458" alt="Image asso">
        </div>
        <div class="about-us-info">
            <h2>Qui sommes-nous ?</h2>
            <p>Surveillance agit comme une association d'intérêt général. Son principal objectif est la sensibilisation
                des citoyens pour les amener à agir à leur échelle.
                Pour avoir des informations privilégiées, vous pouvez vous créer un compte.
            </p>
            <a title="About Us Button" routerLink="/connexion">SE CONNECTER</a>
        </div>
    </div>

            <!-- ******** INTEGRATION PART ******** -->
    <div id="integration-section">
        <div class="integration-image">
            <img src="/assets/images/image-about-asso.jpeg" width="951" height="471" alt="Building Pic">
        </div>
        <div class="integration-info">
            <h2>Intégrer l'association</h2>
            <p>Si vous voulez vous impliquez au sein de l'association, n'hésitez pas à prendre compte.</p>
            <a title="Integration Button" routerLink="/contact">NOUS CONTACTER</a>
        </div>
    </div>
</div>


        <!-- ******** 3 PARTS DESCRIPTION ******** -->

<section class="text-center about">
    <h1>Nos activités</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-blog" routerLink="/blog"></span>
                <h2>Notre blog</h2>
                <p class="lead">Chaque semaine, nous te proposons une analyse des dispositifs de surveillance sur notre
                    blog.
                    Notre activité se concentre sur 3 rubriques : Focus, Agir et Actualités.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-calendar" routerLink="/calendar"></span>
                <h2>Notre calendrier</h2>
                <p class="lead"> Retrouve toutes nos mobilisations et nos activités sur notre calendrier.
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-group"></span>
                <h2>Nos réseaux</h2>
                <p class="lead">Nous sommes prèsent sur les réseaus sociaux, alors rejoins notre communauté sur
                    instagram. </p>
            </div>
        </div>
    </div>
</section>