button{
  background: white;
  text-decoration: inherit;
}

.search-article {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.content{
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin: 15px;
}

.container{
    width: auto;
    height: 90%;
    background: rgba(241, 184, 255, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.article{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}
.author, .date {
    display: flex;
}

.far, .fas{
    margin-right: 10px;
}

.read-article{
 //   padding: 5px;
    border-image-slice: 1;
    border-width: 4px;
    border-image-source: linear-gradient(#FE58ED, #5890FE);
    color: #5890fe;
    font-weight: 600;
    height: 30%;
}

.read-article-text{
    margin: 2px;
    color: rgba(88, 144, 254, 1);
    font-weight: 600;
}

.buttons-categories{
  display: flex;
  padding: 10px;
  justify-content: center;
  button{
    width: 25%;
  }
}

.search-article{
  margin: 10px;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #f1b8ff 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

.card_title {
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px;
  height: 60%;
}

.card_text {
  color: black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  height: 20%;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

@media (min-width: 765px) {
    .cards_item {
        width: 50%;
      }

      .card_image{
        height: 35%;
      }
      .card_content{
        height: -webkit-fill-available;

      }
  
  }

  @media (min-width: 992px) {
    .cards_item {
      width: 100%;
    }
  .card{
    flex-direction: row;
  }
  .read-article{
  max-height: 20%;
  }

  .card_image{
    width: 70%;
  }
  .card_content{
    width: -webkit-fill-available;

  }
  }