<div class="container">

  <div *ngIf="posts$ | async as posts">
    <div class="no-article" *ngIf="posts.length == 0; else block">
      <p>Vous n'avez publié aucun article sur le blog !</p>
    </div>

    <ng-template #block>
      <!-- Display buttons of categories -->
      <div class="buttons-categories">
        <button class="focus" (click)="clickCat('Focus')"> Focus </button>
        <button class="actualites" (click)="clickCat('Actualités')"> Actualités</button>
        <button class="lutter" (click)="clickCat('Agir')">Agir</button>
        <button class="all" (click)="clickAll()">Tous</button>
      </div>

      <div class="grid-row">
        <div class="grid-item" *ngFor="let post of posts">
          <div class="grid-item-wrapper">
            <div class="grid-item-container">
              <div class="image"><img [src]="path(post)"></div>
              <div class="grid-item-content">
                <span class="item-title">{{post?.title}}</span>
                <span class="item-category">#{{post?.categorie?.name}}</span>
                <span class="item-excerpt"><i class="fas fa-user"></i>
                  {{post?.username}}, <i class="far fa-calendar-alt"></i>
                  {{setTimeToMoment(post?.createdOn)}}</span>
              </div>
            </div>
            <div class="buttons">
              <button class="read-article" routerLink="/post/{{post.id}}">Visualiser</button>
              <button class="read-article" routerLink="/admin/handle-post/update-post/{{post.id}}">Modifier</button>
              <button class="read-article" (click)="openModal(template)">Supprimer</button>


              <!-- Display the modal for the suppression  -->
              <ng-template #template>
                <div class="modal-body text-center">
                  <p>Voulez-vous vraiment supprimer l'admin ?</p>
                  <button type="button" class="btn btn-success" (click)="deletePost(post.id)">Oui</button>
                  <button type="button" class="btn btn-danger" (click)="decline()">Annuler</button>
                </div>
              </ng-template>

            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
</div>