h1 {
    //max-width: 150px;
    margin: 10px 20px;
    padding: 10px 40px;
    //border-bottom: 3px solid #e30999;
    font-size: 1.4em;
    text-align: center;

  }

.bin{
    padding: 0px;
    //text-align-last: center;
    cursor: pointer;
}

.fa-trash{
    font-size: 0.9rem;
}

.fa-trash:hover{
-webkit-transform:scale(1.25); /* Safari et Chrome */
-moz-transform:scale(1.25); /* Firefox */
-ms-transform:scale(1.25); /* Internet Explorer 9 */
-o-transform:scale(1.25); /* Opera */
transform:scale(1.25);
}


.container{
    display: flex;
    flex-direction: column;
}

.btn {
    align-self: center;
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #999999;
    background: #ffffff;
    border: 3px solid #999999;
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}

.btn.btn-border-1::after,
.btn.btn-border-1::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    visibility: hidden;
}

.btn.btn-border-1::after {
    bottom: -1px;
    right: -1px;
    border-left: 5px solid #A144E0;
    border-bottom: 5px solid #A144E0;
    transition: width .1s ease .1s, height .1s ease, visibility 0s .2s;
}

.btn.btn-border-1::before {
    top: -1px;
    left: -1px;
    border-top: 5px solid #A144E0;
    border-right: 5px solid #A144E0;
    transition: width .1s ease .3s, height .1s ease .2s, visibility 0s .4s;
}

.btn.btn-border-1:hover {
    animation: pulse 1s ease-out .4s;
    color: #A144E0;
}

.btn.btn-border-1:hover::after,
.btn.btn-border-1:hover::before {
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    visibility: visible;
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::after {
    transition: width .1s ease .2s, height .1s ease .3s, visibility 0s .2s;
}

.btn.btn-border-1:hover::before {
    transition: width .1s ease, height .1s ease .1s;
}

body {
    font-family: 'Roboto';
    background-image: linear-gradient(-90deg , #3f5efb, #15175b);
    display: grid;
    place-items: center;
    margin: 0;
    min-height: 100vh;
  }
  
  
  .main ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
  }
  
  .main ul li {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 40% 25% 10%;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-right: 10px solid #e30999;
    font-size: 0.7rem
  }
  
  .main ul li:hover {
    transform: scale(1.1);
    box-shadow: 3px 5px 12px #555;
  }
  
  .main ul li div:not(:last-child) {
    border-right: 2px solid #eee;
  }
  
  .main ul li div {
    padding: 4px 7px;
  }
  
  .title{
      font-weight: 600;
  }

  .seven h1 {
    text-align: center;
        font-size:25px; font-weight:300; color:#222; letter-spacing:1px;
        text-transform: uppercase;
    
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 20px;
        align-items: center;
    }
    
    .seven h1:after,.seven h1:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #e30999;
        border-top: 1px solid #e30999;
        height: 5px;
      background-color:#f8f8f8;
    }


  @media (min-width: 768px) and (max-width: 1024px){

    .main ul li {
        font-size: 0.9rem
      }


}

@media (min-width: 1024px){
    .main ul li {
        font-size: 1rem
      }

}

