<div class=container-full>
  <div class="title-dash">
    <h1>Mon tableau de bord</h1>
    <div class="container">
      <div class="panel comment" *ngIf="users$ | async as users" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/admin/handle-user"><span>{{users.length}} </span>UTILISATEURS</a>
      </div>
      <div class="panel post" *ngIf="posts$ | async as posts" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/admin/handle-post"><span>{{posts.length}} </span>POSTS</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
