full-calendar{
  background-color: #f1b8ff;
  margin: auto;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
  width: 1.5rem;
}

h1{
  text-align: center;
    margin: 10px;
    color: white;
}