<div class="container">
    <div *ngIf="admins$ | async as admins">

        <div class="seven">
            <h1>Liste d'administrateurs</h1>
        </div>

        <div class="no-article" *ngIf="admins.length == 0; else block">
            <p>Aucun administrateur enregistré !</p>
        </div>

        <ng-template #block>
            <section class="main">
                <ul class="table">
                    <li class="title">
                        <div>Pseudo</div>
                        <div>Mail</div>
                        <div>Date</div>
                        <div>Action</div>
                    </li>
                    <li *ngFor="let admin of admins">
                        <div>{{admin.username}}</div>
                        <div>{{admin.email}}</div>
                        <div>{{setTimeToMoment(admin.dateAccount)}}</div>
                        <div> <a class="bin" (click)="openModal(template)"> <i class="fas fa-trash"></i></a></div>

                        <ng-template #template>
                            <div class="modal-body text-center">
                                <p>Voulez-vous vraiment supprimer cet article ?</p>
                                <button type="button" class="btn btn-success" (click)="deleteAdmin(admin.id)">Supprimer</button>
                                <button type="button" class="btn btn-danger" (click)="decline()">Annuler</button>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </section>
        </ng-template>

    </div>
    <button routerLink='/admin/handle-user/add-admin' routerLinkActive="router-link-active" type="button"
        class="btn btn-border-1">
        Ajouter un admin
    </button>

</div>